# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# macOS volume settings
.Spotlight-V100
.Trashes

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
*~

# Homebrew audit artifacts
*.bottle.json
